# https://help.github.com/articles/dealing-with-line-endings
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
# https://github.com/Danimoth/gitattributes

* text=auto

*.afm binary
*.ai binary
*.cur binary
*.dta binary
*.eot binary
*.gif binary
*.gz binary
*.h5 binary
*.jar binary
*.jpg binary
*.pfb binary
*.pickle binary
*.png binary
*.psb binary
*.psd binary
*.ttf binary
*.vfb binary
*.vfbak binary
*.woff binary
*.xls binary
*.xlsx binary

*-license text=auto
*.asm text=auto
*.c text=auto
*.cfg text=auto
*.cht text=auto
*.clj text=auto
*.conf text=auto
*.cpp text=auto
*.cs text=auto diff=csharp
*.css text=auto
*.csv text=auto
*.cxx text=auto
*.def text=auto
*.erl text=auto
*.fs text=auto
*.fsx text=auto
*.h text=auto
*.hs text=auto
*.htm text=auto
*.html text=auto
*.hxx text=auto
*.ini text=auto
*.java text=auto
*.js text=auto
*.json text=auto
*.less text=auto
*.lisp text=auto
*.lock text=auto
*.lua text=auto
*.m text=auto
*.md text=auto
*.php text=auto
*.py text=auto
*.pyd text=auto
*.pyx text=auto
*.rb text=auto
*.S text=auto
*.sass text=auto
*.scss text=auto
*.sh text=auto
*.sql text=auto
*.txt text=auto
*.vb text=auto
*.ver text=auto
*.xml text=auto

Gemfile text=auto
Makefile text=auto
Rakefile text=auto

AUTHORS text=auto
CNAME text=auto
CONTRIBUTORS text=auto
COPYING text=auto
INSTALL text=auto
LICENSE text=auto
LICENSES text=auto
README text=auto
RELEASE text=auto

*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain

*.csproj text=auto merge=union
*.dbproj text=auto merge=union
*.fsproj text=auto merge=union
*.sln text=auto eol=crlf merge=union
*.vbproj text=auto merge=union

*.bat -crlf
