# https://help.github.com/articles/dealing-with-line-endings
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
# https://github.com/Danimoth/gitattributes

* text=auto

*.afm    binary
*.ai     binary
*.cur    binary
*.dta    binary
*.eot    binary
*.gif    binary
*.gz     binary
*.h5     binary
*.jar    binary
*.jpg    binary
*.pfb    binary
*.pickle binary
*.png    binary
*.psb    binary
*.psd    binary
*.ttf    binary
*.vfb    binary
*.vfbak  binary
*.woff   binary
*.xls    binary
*.xlsx   binary

*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

*.csproj merge=union
*.dbproj merge=union
*.fsproj merge=union
*.sln    merge=union eol=crlf
*.vbproj merge=union

*.cs diff=csharp

*.bat -crlf
